In [1]:
import fastf1 as ff1
import pandas as pd
from fastf1.ergast import Ergast
import numpy as np

In [2]:
#Crear el dataframe
df = pd.DataFrame()

In [3]:
ergast = Ergast()
#Cargar la sesión de la carrera
Bahrain_R = ff1.get_session(2023, 1, 'R')

Bahrain_R.load(weather = True)

laps = Bahrain_R.laps

req         WARNING

DEFAULT CACHE ENABLED!
	Cache directory: C:\Users\user\AppData\Local\Temp\fastf1.
	Size: 24.0 KB
core           INFO 	Loading data for Bahrain Grand Prix - Race [v3.0.7]
req            INFO 	No cached data found for driver_info. Loading data...
_api           INFO 	Fetching driver list...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for session_status_data. Loading data...
_api           INFO 	Fetching session status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for lap_count. Loading data...
_api           INFO 	Fetching lap count data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for track_status_data. Loading data...
_api           INFO 	Fetching track status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for timing_data. Loading data...
_api           INFO 	Fetching timing data...
_api           INFO 	Parsing timing data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for timing_app_data. Loading data...
_api           INFO 	Fetching timing app data...
req            INFO 	Data has been written to cache!
core           INFO 	Processing timing data...
req            INFO 	No cached data found for car_data. Loading data...
_api           INFO 	Fetching car data...
_api           INFO 	Parsing car data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for position_data. Loading data...
_api           INFO 	Fetching position data...
_api           INFO 	Parsing position data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for weather_data. Loading data...
_api           INFO 	Fetching weather data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for race_control_messages. Loading data...
_api           INFO 	Fetching race control messages...
req            INFO 	Data has been written to cache!
core           INFO 	Finished loading data for 20 drivers: ['1', '11', '14', '55', '44', '18', '63', '77', '10', '23', '22', '2', '20', '21', '27', '24', '4', '31', '16', '81']

In [4]:
res = Bahrain_R.results

res.head(5)

,DriverNumber,BroadcastName,Abbreviation,DriverId,TeamName,TeamColor,TeamId,FirstName,LastName,FullName,...,CountryCode,Position,ClassifiedPosition,GridPosition,Q1,Q2,Q3,Time,Status,Points
1,1,M VERSTAPPEN,VER,max_verstappen,Red Bull Racing,3671C6,red_bull,Max,Verstappen,Max Verstappen,...,NED,1.0,1,1.0,NaT,NaT,NaT,0 days 01:33:56.736000,Finished,25.0
11,11,S PEREZ,PER,perez,Red Bull Racing,3671C6,red_bull,Sergio,Perez,Sergio Perez,...,MEX,2.0,2,2.0,NaT,NaT,NaT,0 days 00:00:11.987000,Finished,18.0
14,14,F ALONSO,ALO,alonso,Aston Martin,358C75,aston_martin,Fernando,Alonso,Fernando Alonso,...,ESP,3.0,3,5.0,NaT,NaT,NaT,0 days 00:00:38.637000,Finished,15.0
55,55,C SAINZ,SAI,sainz,Ferrari,F91536,ferrari,Carlos,Sainz,Carlos Sainz,...,ESP,4.0,4,4.0,NaT,NaT,NaT,0 days 00:00:48.052000,Finished,12.0
44,44,L HAMILTON,HAM,hamilton,Mercedes,6CD3BF,mercedes,Lewis,Hamilton,Lewis Hamilton,...,GBR,5.0,5,7.0,NaT,NaT,NaT,0 days 00:00:50.977000,Finished,10.0

In [5]:
#Asignar nombre, abreviación, equipo, e información del circuito
df['driver_name'] = res.BroadcastName
df['driver_abb'] = res.Abbreviation
df['team_name'] = res.TeamName
df['circuit_name'] = 'Bahrain International Circuit'
df['circuit_country'] = 'Bahrain'
df.head(5)

,driver_name,driver_abb,team_name,circuit_name,circuit_country
1,M VERSTAPPEN,VER,Red Bull Racing,Bahrain International Circuit,Bahrain
11,S PEREZ,PER,Red Bull Racing,Bahrain International Circuit,Bahrain
14,F ALONSO,ALO,Aston Martin,Bahrain International Circuit,Bahrain
55,C SAINZ,SAI,Ferrari,Bahrain International Circuit,Bahrain
44,L HAMILTON,HAM,Mercedes,Bahrain International Circuit,Bahrain

In [6]:
#Vuelta más rápida de la carrera
ver_lap = laps.pick_driver('VER')
mini = ver_lap['LapTime'].min()
mini

Timedelta('0 days 00:01:36.236000')

In [7]:
#Clasificación actual de constructores
const_stand = ergast.get_constructor_standings(season=2023)
const_stand.content[0]

,position,positionText,points,wins,constructorId,constructorUrl,constructorName,constructorNationality
0,1,1,583.0,14,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
1,2,2,273.0,0,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
2,3,3,228.0,0,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
3,4,4,217.0,0,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British
4,5,5,115.0,0,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
5,6,6,73.0,0,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French
6,7,7,21.0,0,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British
7,8,8,11.0,0,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American
8,9,9,10.0,0,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss
9,10,10,3.0,0,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian

In [9]:
#Obtener informaciónd el clima en la carrera
clima = Bahrain_R.weather_data

temp = clima['AirTemp'].mean()
humi = clima['Humidity'].mean()
rain = clima['Rainfall'].mean()

print(f'La temperatura promedio es {temp}')
print(f'La humedad promedio es {humi}')
print(f'La lluvia en la {rain}')

La temperatura promedio es 27.43167701863354
La humedad promedio es 21.496894409937887
La lluvia en la 0.0

In [10]:
#Agregar la información del clima al DF
df['circuit_temp'] = temp
df['circuit_humi'] = humi
df['circuit_rain'] = rain
df.head(5)

,driver_name,driver_abb,team_name,circuit_name,circuit_country,circuit_temp,circuit_humi,circuit_rain
1,M VERSTAPPEN,VER,Red Bull Racing,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0
11,S PEREZ,PER,Red Bull Racing,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0
14,F ALONSO,ALO,Aston Martin,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0
55,C SAINZ,SAI,Ferrari,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0
44,L HAMILTON,HAM,Mercedes,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0

In [11]:
#Cargar la carrera de clasificación
Bahrain_Q = ff1.get_session(2023, 1, 'Q')

Bahrain_Q.load()
res_Q = Bahrain_Q.results
res_Q.head(5)

core           INFO 	Loading data for Bahrain Grand Prix - Qualifying [v3.0.7]
req            INFO 	No cached data found for driver_info. Loading data...
_api           INFO 	Fetching driver list...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for session_status_data. Loading data...
_api           INFO 	Fetching session status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for track_status_data. Loading data...
_api           INFO 	Fetching track status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for timing_data. Loading data...
_api           INFO 	Fetching timing data...
_api           INFO 	Parsing timing data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for timing_app_data. Loading data...
_api           INFO 	Fetching timing app data...
req            INFO 	Data has been written to cache!
core           INFO 	Processing timing data...
req            INFO 	No cached data found for car_data. Loading data...
_api           INFO 	Fetching car data...
_api           INFO 	Parsing car data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for position_data. Loading data...
_api           INFO 	Fetching position data...
_api           INFO 	Parsing position data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for weather_data. Loading data...
_api           INFO 	Fetching weather data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for race_control_messages. Loading data...
_api           INFO 	Fetching race control messages...
req            INFO 	Data has been written to cache!
core           INFO 	Finished loading data for 20 drivers: ['1', '11', '16', '55', '14', '63', '44', '18', '31', '27', '4', '77', '24', '22', '23', '2', '20', '81', '21', '10']

,DriverNumber,BroadcastName,Abbreviation,DriverId,TeamName,TeamColor,TeamId,FirstName,LastName,FullName,...,CountryCode,Position,ClassifiedPosition,GridPosition,Q1,Q2,Q3,Time,Status,Points
1,1,M VERSTAPPEN,VER,max_verstappen,Red Bull Racing,3671C6,red_bull,Max,Verstappen,Max Verstappen,...,NED,1.0,,NaN,0 days 00:01:31.295000,0 days 00:01:30.503000,0 days 00:01:29.708000,NaT,,NaN
11,11,S PEREZ,PER,perez,Red Bull Racing,3671C6,red_bull,Sergio,Perez,Sergio Perez,...,MEX,2.0,,NaN,0 days 00:01:31.479000,0 days 00:01:30.746000,0 days 00:01:29.846000,NaT,,NaN
16,16,C LECLERC,LEC,leclerc,Ferrari,F91536,ferrari,Charles,Leclerc,Charles Leclerc,...,MON,3.0,,NaN,0 days 00:01:31.094000,0 days 00:01:30.282000,0 days 00:01:30,NaT,,NaN
55,55,C SAINZ,SAI,sainz,Ferrari,F91536,ferrari,Carlos,Sainz,Carlos Sainz,...,ESP,4.0,,NaN,0 days 00:01:30.993000,0 days 00:01:30.515000,0 days 00:01:30.154000,NaT,,NaN
14,14,F ALONSO,ALO,alonso,Aston Martin,358C75,aston_martin,Fernando,Alonso,Fernando Alonso,...,ESP,5.0,,NaN,0 days 00:01:31.158000,0 days 00:01:30.645000,0 days 00:01:30.336000,NaT,,NaN

In [12]:
# Actualizar los valores vacios con el último tiempo registrado de la Qualis de la carrera de clasificación
q_laptime = pd.Series(res_Q['Q3'])
q_laptime = q_laptime.fillna(res_Q['Q2'])
q_laptime = q_laptime.fillna(res_Q['Q1'])

#Transformar de datetime64 a segundos
q_laptime = q_laptime.dt.total_seconds()
q_laptime

1     89.708
11    89.846
16    90.000
55    90.154
14    90.336
63    90.340
44    90.384
18    90.836
31    90.984
27    90.809
4     91.381
77    91.443
24    91.473
22    92.510
23    91.461
2     91.652
20    91.892
81    92.101
21    92.121
10    92.181
Name: Q3, dtype: float64

In [16]:
#Añadir la posición de la Clasificatoria y el tiempo de la mejor vuelta al DF.
df['quali_pos'] = res_Q['Position']
df['quali_laptime'] = q_laptime

,driver_name,driver_abb,team_name,circuit_name,circuit_country,circuit_temp,circuit_humi,circuit_rain,quali_pos,quali_laptime
1,M VERSTAPPEN,VER,Red Bull Racing,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,1.0,89.708
11,S PEREZ,PER,Red Bull Racing,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,2.0,89.846
14,F ALONSO,ALO,Aston Martin,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,5.0,90.336
55,C SAINZ,SAI,Ferrari,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,4.0,90.154
44,L HAMILTON,HAM,Mercedes,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,7.0,90.384
18,L STROLL,STR,Aston Martin,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,8.0,90.836
63,G RUSSELL,RUS,Mercedes,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,6.0,90.340
77,V BOTTAS,BOT,Alfa Romeo,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,12.0,91.443
10,P GASLY,GAS,Alpine,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,20.0,92.181
23,A ALBON,ALB,Williams,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,15.0,91.461
22,Y TSUNODA,TSU,AlphaTauri,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,14.0,92.510
2,L SARGEANT,SAR,Williams,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,16.0,91.652
20,K MAGNUSSEN,MAG,Haas F1 Team,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,17.0,91.892
21,N DE VRIES,DEV,AlphaTauri,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,19.0,92.121
27,N HULKENBERG,HUL,Haas F1 Team,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,10.0,90.809
24,G ZHOU,ZHO,Alfa Romeo,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,13.0,91.473
4,L NORRIS,NOR,McLaren,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,11.0,91.381
31,E OCON,OCO,Alpine,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,9.0,90.984
16,C LECLERC,LEC,Ferrari,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,3.0,90.000
81,O PIASTRI,PIA,McLaren,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,18.0,92.101

In [17]:
#Obtener las paradas en pits
# resyk = ergast.get_pit_stops(season=2023, round=1)
# resyk.content[0]

           driverId  stop  lap      time               duration
0             gasly     1    9  18:18:56 0 days 00:00:25.885000
1            norris     1   10  18:20:31 0 days 00:00:32.766000
2           tsunoda     1   10  18:20:34 0 days 00:00:25.267000
3            bottas     1   11  18:22:06 0 days 00:00:25.399000
4             albon     1   11  18:22:12 0 days 00:00:25.054000
5        hulkenberg     1   11  18:22:21 0 days 00:00:26.075000
6          de_vries     1   11  18:22:21 0 days 00:00:25.018000
7          hamilton     1   12  18:23:40 0 days 00:00:24.682000
8              ocon     1   12  18:23:50 0 days 00:00:24.966000
9          sargeant     1   12  18:23:55 0 days 00:00:25.600000
10             zhou     1   12  18:24:01 0 days 00:00:25.787000
11          leclerc     1   13  18:25:06 0 days 00:00:24.345000
12            sainz     1   13  18:25:17 0 days 00:00:24.500000
13          russell     1   13  18:25:24 0 days 00:00:27.062000
14   max_verstappen     1   14  18:26:35 0 days 00:00:24.289000
15           alonso     1   14  18:27:02 0 days 00:00:25.800000
16           stroll     1   15  18:28:45 0 days 00:00:25.449000
17  kevin_magnussen     1   15  18:29:10 0 days 00:00:25.439000
18             ocon     2   15  18:29:11 0 days 00:00:41.462000
19            perez     1   17  18:31:42 0 days 00:00:24.264000
20           norris     2   17  18:32:38 0 days 00:00:33.661000
21            gasly     2   25  18:45:48 0 days 00:00:24.879000
22            albon     2   26  18:47:25 0 days 00:00:24.920000
23          tsunoda     2   26  18:47:26 0 days 00:00:24.372000
24       hulkenberg     2   26  18:47:41 0 days 00:00:37.769000
25         de_vries     2   27  18:49:16 0 days 00:00:25.234000
26           norris     3   27  18:49:35 0 days 00:00:33.467000
27           bottas     2   29  18:52:16 0 days 00:00:25.643000
28  kevin_magnussen     2   29  18:52:40 0 days 00:00:25.344000
29         hamilton     2   30  18:53:36 0 days 00:00:24.690000

In [15]:
#Obtener la estrategia de llantas

stints = laps[['Driver', 'Stint', 'Compound', 'LapNumber']]
stints = stints.groupby(["Driver", "Stint", "Compound"])
stints = stints.count().reset_index()
stints = stints.rename(columns={"LapNumber": "StintLength"})
rslt = stints.loc[stints['Driver'] == 'VER']

rslt

   Driver  Stint Compound  StintLength
63    VER    1.0     SOFT           14
64    VER    2.0     SOFT           22
65    VER    3.0     HARD           21

In [26]:
#Cambio de posición

race_pos_change = pd.DataFrame()
race_pos_change['Driver'] = res.Abbreviation
race_pos_change['Quali_pos'] = res.GridPosition
race_pos_change['Race_pos'] = res.Position
race_pos_change['Change'] = res.GridPosition - res.Position

race_pos_change.head(5)

   Driver  Quali_pos  Race_pos  Change
1     VER        1.0       1.0     0.0
11    PER        2.0       2.0     0.0
14    ALO        5.0       3.0     2.0
55    SAI        4.0       4.0     0.0
44    HAM        7.0       5.0     2.0

In [23]:
df['race_pos_change'] = res.GridPosition - res.Position
df['race_pos'] = res.Position
df.head(5)

,driver_name,driver_abb,team_name,circuit_name,circuit_country,circuit_temp,circuit_humi,circuit_rain,quali_pos,quali_laptime,race_pos_change,race_pos
1,M VERSTAPPEN,VER,Red Bull Racing,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,1.0,89.708,0.0,1.0
11,S PEREZ,PER,Red Bull Racing,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,2.0,89.846,0.0,2.0
14,F ALONSO,ALO,Aston Martin,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,5.0,90.336,2.0,3.0
55,C SAINZ,SAI,Ferrari,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,4.0,90.154,0.0,4.0
44,L HAMILTON,HAM,Mercedes,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,7.0,90.384,2.0,5.0

In [73]:
race_time1 = []

race_time1 = res.Time.dt.total_seconds()

race_time1.head(11)

1     5636.736
11      11.987
14      38.637
55      48.052
44      50.977
18      54.502
63      55.873
77      72.647
10      73.753
23      89.774
22      90.870
Name: Time, dtype: float64

In [74]:
print(len(race_time1))

20

In [75]:
race_timeF = []
x = 0
race_timeF.append(race_time1[0])

for i in range(1, 20):
    x = race_time1[0] + race_time1[i]
    race_timeF.append(x)

race_timeF

[5636.736,
 5648.723,
 5675.373,
 5684.788,
 5687.713,
 5691.238,
 5692.6089999999995,
 5709.383,
 5710.489,
 5726.51,
 5727.606,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [85]:
#Añadir el tiempo de carrera
df['race_time'] = race_timeF
#Reemplazar ceros
df['race_time'] = df['race_time'].fillna(0)
df.head(5)

,driver_name,driver_abb,team_name,circuit_name,circuit_country,circuit_temp,circuit_humi,circuit_rain,quali_pos,quali_laptime,race_pos_change,race_pos,race_time
1,M VERSTAPPEN,VER,Red Bull Racing,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,1.0,89.708,0.0,1.0,5636.736
11,S PEREZ,PER,Red Bull Racing,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,2.0,89.846,0.0,2.0,5648.723
14,F ALONSO,ALO,Aston Martin,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,5.0,90.336,2.0,3.0,5675.373
55,C SAINZ,SAI,Ferrari,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,4.0,90.154,0.0,4.0,5684.788
44,L HAMILTON,HAM,Mercedes,Bahrain International Circuit,Bahrain,27.431677,21.496894,0.0,7.0,90.384,2.0,5.0,5687.713

In [92]:
r_laptime = laps.pick_fastest()
aaaa = r_laptime['LapTime']
bb = r_laptime['Driver']

# r_laptime = pd.Series(res['Time'])
# r_laptime = r_laptime.dt.total_seconds()
print(aaaa, bb)

0 days 00:01:33.996000 ZHO

In [ ]:
df['race_laptime'] =